extends layout

block content
    h1 #{title}
    form(method='POST',action='/articles/add')
        #form-group
            label Country:
            input.form-control(name='player_name',type='text')
        #form-group
            label Picture URL:
            input.form-control(name='picture',type='text')
        #form-group
            label gold:
            input.form-control(name='gold',type='number',value="0",min="0")
        #form-group
            label silver:
            input.form-control(name='silver',type='number',value="0",min="0")
        #form-group
            label bronze:
            input.form-control(name='bronze',type='number',value="0",min="0")
        #form-group
            label Detail:
            textarea.form-control(name='detail',type='text')
        
        input.btn.btn-primary(type='submit',value='Submit')