extends layout

block content

    h1= article.player_name
    img(src=article.picture)
    h5 Written By #{author}
    if article.detail
        p Detail: #{article.detail}

    table.table.table-hover
        thead
            tr
                th(width="175") Gold
                th(width="175") Silver
                th(width="175") Bronze
                th(width="175") All
        tbody
            tr
                td  
                    span=article.gold
                td  
                    span=article.silver
                td  
                    span=article.bronze
                td  
                    span=article.bronze+article.silver+article.gold

    hr
    if user 
        if user.id == article.author
            a.btn.btn-primary(href='/articles/edit/'+article._id) Edit
            a.btn.btn-danger.delete-article(href='#',data-id=article._id) Delete 