extends layout

block content
    h1 #{title}
    form(method='POST',action='/articles/edit/'+article._id)
        #form-group
            label Country:
            input.form-control(name='player_name',type='text',value=article.player_name)
        #form-group
            label Picture URL:
            input.form-control(name='picture',type='text',value=article.picture)
        #form-group
            label gold:
            input.form-control(name='gold',type='number',value=article.gold,min="0")
        #form-group
            label silver:
            input.form-control(name='silver',type='number',value=article.silver,min="0")
        #form-group
            label bronze:
            input.form-control(name='bronze',type='number',value=article.bronze,min="0")
        #form-group
            label Detail:
            textarea.form-control(name='detail',type='text')=article.detail
        br
        input.btn.btn-primary(type='submit',value='Submit')