extends layout

block content
    h1 #{title}
    table.table.table-hover
        thead
            tr
                th(width="200") Picture
                th Country
                th(width="175") Gold
                th(width="175") Silver
                th(width="175") Bronze
                th(width="175") All
        tbody
            each article,i in articles
                tr
                    td 
                        a(href='/articles/'+article._id)
                            img.indeximage(src=article.picture)
                    td  
                        a(href='/articles/'+article._id)= article.player_name
                    td  
                        span=article.gold
                    td  
                        span=article.silver
                    td  
                        span=article.bronze
                    td  
                        span=article.bronze+article.silver+article.gold