html
    head
        title AsianGame2018
        meta(http-equiv='Cache-Control', content='no-cache, no-store, must-revalidate')
        meta(http-equiv='Pragma', content='no-cache')
        meta(http-equiv='Expires', content='0')
        // Latest compiled and minified CSS
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css')
        // jQuery library
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        // Popper JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js')
        // Latest compiled JavaScript
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js')

        link(rel='stylesheet', href='/css/style.css')



    body
        nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
            a.navbar-brand(href='/') AsianGame2018
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExampleDefault', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarsExampleDefault.collapse.navbar-collapse
                ul.navbar-nav.mr-auto
                    li.nav-item
                        a.nav-link(href='/')
                            | Home 
                            span.sr-only (current)
                    if user
                        li.nav-item
                            a.nav-link(href='/articles/add') Add Country
                ul.nav.navbar-nav.navbar-right
                    if user
                        li 
                            a.nav-link(href='/users/logout') Logout
                    else
                        li
                            a.nav-link(href='/users/register') Register
                        li
                            a.nav-link(href='/users/login') Login
        br
        br
        br  
        .container
            != messages('message',locals)
            if errors 
                each error ,i in errors 
                    div(class="alert alert-danger") #{error.msg}
            block content
            br
            hr
            footer
                p Supakorn Wongsawang 5910500147 copyright © 2018
        script(src='/bower_components/jquery/dist/jquery.js')
        script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
        script(src='/js/main.js')

