extends layout

block content
    h1 Login
    form(method='POST',action='/users/login')
        #form-group
            label Username:
            input.form-control(name='username',type='text')
        #form-group
            label Password:
            input.form-control(name='password',type='password')
        input.btn.btn-primary(type='submit',value='Submit')